.skills * {
    padding: 20px;
}

.skills>hr,
.skills>br {
    padding: 0px;
}

.html5Logo {
    background-image: url('./assets/images/HTML5_Badge.svg');
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
}

.cssLogo {
    background-image: url("./assets/images/CSS3_Logo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}

.jsLogo {
    background-image: url("./assets/images/javascript.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}

.reactLogo {
    background-image: url("./assets/images/reactLogo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}

.mongoDbLogo {
    background-image: url("./assets/images/mongoDbIcon.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.websiteLogo {
    background-image: url("./assets/images/websiteLogo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.socket-ioLogo {
    background-image: url("./assets/images/socket-ioLogo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.gitLogo {
    background-image: url("./assets/images/gitLogo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.googlePlayLogo {
    background-image: url("./assets/images/googlePlayLogo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.microsoftAzureLogo {
    background-image: url("./assets/images/microsoftAzureLogo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}

.jqueryLogo {
    background-image: url("./assets/images/JqueryLogo.png");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}

.nodeJSLogo {
    background-image: url("./assets/images/Node.js_logo.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.angularLogo {
    background-image: url("./assets/images/angular-icon.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}
.reduxLogo {
    background-image: url("./assets/images/redux.svg");
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
    background-size: 50px 50px;
}