body{
    background-color: blueviolet;
    overflow-x: hidden;
}
.firstBox {
    margin-top: 10rem;
}

.firstBox>div {
    margin-top: 3rem;

}
#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

}

div>h1 {
    font-family: lightLetters;
    color: white;
    font-size: 55px;
    text-shadow: 2px black solid;

}

.animation0 {
    animation: letterrotate 1.5s forwards;
    display: inline-block;
}

.animation1 {
    animation: lettermovedown 1.5s forwards;
    display: inline-block;
}

.animation2 {
    animation: lettermoveup 1.5s forwards;
    display: inline-block;
}


@keyframes letterrotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes lettermovedown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes lettermoveup {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

#typewriter{
    animation: animated-text;
    -webkit-filter: blur(1px);
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}

  to{
      opacity: 0;
    }
}