html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.screenCenter {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.firstBox {
    margin-top: 10rem;
}

.backgroundParallax1 {
    height: 1100px;
    width: 100%;
    background-image: url('assets/images/backgroundGif.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .rwd-break {
        display: none;
    }
}

.backgroundParallax2 {
    height: 450px;
    width: 100%;
    background-image: url('assets/images/parallaxBack1.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstBoxBackground {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 25px;
}

.layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#firstBoxBackground {
    background-color: rgba(148, 207, 255, 0.568);
    border-radius: 20px;
}

.firstBox>div {
    margin-top: 3rem;
}

.typewriterHeight {
    margin-top: 5rem;
}

.personalInfoCard {
    margin-top: 30px;
    font-size: 15px;
}

#typewriter {
    color: wheat;
    height: 250%;
    width: 101%;
    position: absolute;
    animation: animated-text;
    -webkit-filter: blur(1px);
    height: 100vh;
    overflow: hidden;
}

.firstBoxFont {
    font-family: lightLetters;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #FFFFFF;
}

.projectLinks {
    margin-top: 15px;
}

.projectLinks>a {
    color: white;
}

.animation0 {
    animation: letterrotate 1.5s forwards;
    display: inline-block;
}

.animation1 {
    animation: lettermovedown 1.5s forwards;
    display: inline-block;
}

.animation2 {
    animation: lettermoveup 1.5s forwards;
    display: inline-block;
}

.infoContainer {
    height: 600px;
    position: relative;
}

.circlec>h2 {
    margin-top: 35%;
}

.circlea>h2 {
    margin-top: 25px;
}

.circlea,
.circleb,
.circlec {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: 15px;
    position: absolute;
    transition: all 1s ease-in-out;
    opacity: 0;
    color: white;
}

.circlea {
    background-color: rgb(146, 155, 20);
}

.circleb {
    background-color: rgb(20, 155, 31);
}

.circlec {
    background-color: rgb(155, 20, 20);
    opacity: 1;
    cursor: pointer;
}

.transforma {
    margin-top: 400px;
    opacity: 1;
}

.transformb {
    margin-top: 780px;
    opacity: 1;
}

.transformb {
    opacity: 1;
}

.infoIcons {
    margin-top: 3rem;
    width: 340px;
    width: 100%;
    height: 500px;
}

.leftIconBackground {
    background-image: url('/assets/images/spaceBornLogoBackground.jpg');
    background-position: center;
    background-size: cover;
}

.spaceBornIcon {
    background-image: url('assets/images/spaceBornBackground.gif');
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin: auto;
}

.infoIconText {
    width: 300px;
    margin: auto;
    border-radius: 25px;
    color: white;
}

.infoIcons>div>h1 {
    color: white;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    .rwd-break {
        display: none;
    }
}

@keyframes letterrotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes lettermovedown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes lettermoveup {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}