html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.navigator {
    background-color: #0000009a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: auto;
}

.portrit {
    max-width: 450px;
    height: 350px;
    border-radius: 100px;
    background-position: center;
    background-size: 350px;
    margin: auto;
    display: inline-block;
    background-repeat: no-repeat;
}

.portrit1 {
    background-image: url('assets/images/Eden2.jpg');
    width: 350px;
}

.portrit2 {
    background-image: url('assets/images/CSS3_Logo.svg');
    background-size: 300px;
}

.portrit3 {
    background-image: url('assets/images/javascript.svg');
}

.portrit4 {
    background-image: url('assets/images/HTML5_Badge.svg');
}

.portrit5 {
    background-image: url('assets/images/JqueryLogo.png');
}

.portrit6 {
    background-image: url('assets/images/Node.js_logo.svg');
}

.portrit7 {
    background-image: url('assets/images/reactLogo.svg');
}

.portritDiv {
    width: 100%;
}

.navigator>a {
    font-family: lightLetters;
    color: white;
    text-shadow: 1px 2px 1px black;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.determination,
.skills {
    margin-bottom: 50px;
}

.skills>h3 {
    padding: 0px;
    padding-bottom: 5px;
}

.determination>div {
    background-image: url('assets/images/rocket.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 115px;
    margin: auto;
    background-repeat: no-repeat;
}

.experience>div {
    background-image: url('assets/images/programmer.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 115px;
    margin: auto;
    background-repeat: no-repeat;
}

.personal>div {
    background-image: url('assets/images/student.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 115px;
    margin: auto;
    background-repeat: no-repeat;
}

.animated {
    position: relative;
    animation: icon 1s ease;
}

@keyframes icon {
    0% {
        bottom: 0px;
    }
    15% {
        bottom: 50px;
    }
    30% {
        bottom: 0px;
    }
    45% {
        bottom: 30px;
    }
    60% {
        bottom: 0px;
    }
    75% {
        bottom: 20px;
    }
    100% {
        bottom: 0px;
    }
}

.personalInfo>h1 {
    padding: 35px;
}

.skillsIcon {
    background-image: url('assets/images/skills.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 115px;
    margin: auto;
    background-repeat: no-repeat;
}

.screenCenter {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.firstBox {
    margin-top: 10rem;
}

.backgroundParallax1 {
    height: 1100px;
    width: 100%;
    background: linear-gradient(-45deg, #f1514c41, #9035e659, #23a5d593, #23d5abad);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 768px) {
    .rwd-break {
        display: none;
    }
}

.firstBoxBackground {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 25px;
}

.layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#firstBoxBackground {
    background-color: rgba(148, 207, 255, 0.568);
    border-radius: 20px;
}

.firstBox>div {
    margin-top: 3rem;
}

.typewriterHeight {
    margin-top: 5rem;
}

.personalInfoCard {
    margin-top: 30px;
    font-size: 15px;
}

.firstBoxFont {
    font-family: lightTitle;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1px gray;
}

.firstBoxNameFont {
    font-family: lightTitle;
    font-size: 80px;
    color: gray;
}

.portret {
    background-image: url('assets/images/portret.jpg');
    background-position: center;
}

.projectHeadline {
    background-color: black;
    padding: 0;
}

.projectHeadline>div>h1 {
    color: white;
}

.animation0 {
    animation: letterrotate 1.5s forwards;
    display: inline-block;
}

.animation1 {
    animation: lettermovedown 1.5s forwards;
    display: inline-block;
}

.animation2 {
    animation: lettermoveup 1.5s forwards;
    display: inline-block;
}

.infoContainer {
    height: 600px;
    position: relative;
}

.infoIcons {
    margin-top: 3rem;
    width: 340px;
    width: 100%;
    height: 500px;
}

.leftIconBackground:hover {
    cursor: pointer;
}

.leftIconBackground {
    background-image: url('assets/images/spaceBornLogoBackground.jpg');
    background-position: center;
    background-size: cover;
}

.centerIconBackground:hover {
    cursor: pointer;
}

.centerIconBackground {
    background-image: url('assets/images/cryptoBearIcon.png');
    background-size: cover;
}

.rightIconBackground {
    background-image: url('assets/images/morbiez.jpg');
    background-size: cover;
}

.rightIconBackground:hover {
    cursor: pointer;
}

.morbiezIcon {
    background-image: url('assets/images/burderLoading.gif');
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin: auto;
}

.spaceBornIcon {
    background-image: url('assets/images/spaceBornBackground.gif');
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin: auto;
}

.cryptoBearIcon {
    background-image: url('assets/images/bearLoadingGif.gif');
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin: auto;
}

.leftIconBackground,
.centerIconBackground,
.rightIconBackground {
    margin: 20px;
    border-radius: 25px;
    border: 1px black solid;
}

.infoIconText {
    width: 300px;
    margin: auto;
    border-radius: 25px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.infoIcons>div>h1 {
    text-shadow: 2px 2px 1px black;
    color: white;
    margin-top: 2rem;
}

.rowSeperetor {
    margin-bottom: 200px;
    width: 100%;
}

.contactMe {
    width: 100%;
    height: 500px;
}

.contactMe>h2 {
    background-color: black;
    color: white;
    padding: 10px;
}

.details>div {
    background-image: url('/assets/images/phone.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 60px;
    margin: auto;
    background-repeat: no-repeat;
}

.details {
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.308);
    display: inline-block;
    padding: 25px;
    border-radius: 25px;
    width: 300px;
}

.linkedIn>div {
    background-image: url('/assets/images/linkedin.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 60px;
    margin: auto;
    background-repeat: no-repeat;
}

.linkedIn {
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.308);
    display: inline-block;
    padding: 25px;
    border-radius: 25px;
    width: 300px;
}

.linkedIn>p>a {
    text-decoration: none;
    color: black;
}

.emailContact>div {
    background-image: url('/assets/images/mail.svg');
    width: 150px;
    height: 150px;
    border-radius: 180px;
    background-position: center;
    background-size: 60px;
    margin: auto;
    background-repeat: no-repeat;
}

.emailContact {
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.308);
    display: inline-block;
    padding: 25px;
    border-radius: 25px;
    width: 300px;
}

.contactDeteils {
    display: inline-block;
    width: 400px;
}

@media screen and (min-width: 768px) {
    .rwd-break {
        display: none;
    }
}

@media (max-width: 1600px) {
    .firstBoxNameFont {
        font-size: 60px;
    }
}

@keyframes letterrotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes lettermovedown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes lettermoveup {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}

@font-face {
    font-family: lightTitle;
    src: url('assets/fonts/SourceCodePro-Regular.ttf');
}